h1{
  margin-left: 30px;
  padding: 15px;
  color: green;
}

.profile{
  box-sizing: border-box;
  max-width: 40%;
  max-height: 80vh;
}

.profile{
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 30px;
  margin-left: 20px;
}

.avatar{
  border-radius: 50%;
}

ul{
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}